




/*
.nav ul {
  list-style: none;
  background: #000000;
  text-align: center;
  padding: 0: margin:0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetic;
  background: #000000;
}

.nav a:hover {
  background: #999;
  transition: 0.4s;
}

/* search field */ /*
form.enter input[type=text]{
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: right;
  width: 60%;
  background: #f1f1f1;
}

/* Submit button */ /*
form.enter button{
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/*
form.enter button:hover {
  background: #0b7dda;
}

form.enter : : after {
  content: "";
  clear: both;
  display: table;
}

.box {
  width: auto;
  height: 500px;
  padding: 0px;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 2px grey;
  background: url("../images/homebackground.gif") no-repeat center center fixed;
  background-size: cover;
}

#title mark {
  font-size: 40px;
  padding: 5px;
}

.box mark {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1px;
}

#homepage {
  background: url("../images/homebackground.gif") no-repeat center center fixed;
}
*/
